{# src/AppBundle/Resources/views/Login/login.html.twig #}

{% extends "::base.html.twig" %}

{% block body %}

<form action="{{ path('login_check') }}" method="post" class="form-horizontal" role="form">

    {% if error %}
        <div class="alert alert-danger text-center" role="alert">
            <div>{{ error.message }}</div>
        </div>
    {% endif %}

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">{% trans %}login.username{% endtrans %}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="{% trans %}login.username.placeholder{% endtrans %}" />
        </div>
    </div>          
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">{% trans %}login.password{% endtrans %}</label>
        <div class="col-sm-10">         
            <input type="password" class="form-control" id="password" name="_password" placeholder="{% trans %}login.password.placeholder{% endtrans %}"/>
        </div>          
    </div> 
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="submit" class="btn btn-primary">{% trans %}login.enter{% endtrans %}</button>
        </div>
    </div>

</form>
{% endblock %}
